<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
  <!-- /Google Fonts -->
  <!-- FontAwesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
  <!-- /FontAwesome -->
  <!-- VueJs -->
  <!-- development version, includes helpful console warnings -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <!-- /VueJs -->
  <!-- Axios -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous"></script>
  <!-- /Axios -->
  <!-- css -->
  <link rel="stylesheet" href="css/style.css">
  <!-- /css -->
  <!-- favicon -->
  <link rel="icon" type="image/png" href="img/logo-b.png"/>
  <!-- /favicon -->
  <title>Boolflix</title>
</head>
<body>


<div id="root">
  <header class="df">
    <!-- logo -->
    <div class="header__logo">
      <img src="img/boolflix.png" alt="logo" @click="ricarica">
    </div>
    <!-- /logo -->
    <!-- ricerca -->
    <div class="header__user__ricerca">
      <span class="df">
        <i class="df fas fa-search" @click="search"></i>
        <input class="small-text" v-model="ricercaUtente" @keydown.13="search" type="text" placeholder="Search films and series">
      </span>
    </div>
    <!-- /ricerca -->
  </header>

  <main>

    <!-- contenitore film popolari-->
    <h2 class="tp big-text" v-if="films.length == 0">FILM PIU' VISTI</h2>
    <hr class="tp-hr" v-if="films.length == 0">
    <div class="wrapper df" v-if="films.length == 0">
      <!-- card film -->
      <div class="card df" v-for="film in filmsPopular">
        <!-- poster -->
        <img v-if="film.poster_path != null" class="poster" :src=" 'https://image.tmdb.org/t/p/w300' + film.poster_path" :alt="film.title">
        <img v-else class="poster" src="img/poster-null.jpg" alt="posterNull">
        <!-- poster -->
        <div class="overlay">
          <h3 class="titolo small-text fl"> <span class="fb normal-text">Titolo: </span> {{film.title}}</h3>
          <h3 class="titolo_originale small-text fl"> <span class="fb normal-text">Titolo originale: </span> {{film.original_title}}</h3>
          <!-- lingua -->
          <div class="lingua normal-text fb cw">
            Lingua:
            <img v-if="flagsPopular.includes(film.original_language)" :src="'img/flags/' + film.original_language + '.svg'" class="flag" alt="flag">
            <span v-else class="small-text fl">{{film.original_language}}</span>
            <!-- <img :src="'https://www.unknown.nu/flags/images/'+ film.original_language +'-100'" alt="flag" class="flag"> -->
          </div>
          <!-- /lingua -->
          <!-- voto in stelle -->
          <div class="voto normal-text fb cw">
            Voto:
            <span>
              <i v-for="number in newVoto(film.vote_average)" class="fas fa-star"></i>
              <i v-for="number in (5 - newVoto(film.vote_average))" class="far fa-star"></i>
            </span>
          </div>
          <!-- /voto in stelle -->
          <p class="overview small-text fl"> <span class="fb normal-text">Overview: </span> {{film.overview}}</p>
        </div>
      </div>
      <!-- /card film -->
    </div>
    <!-- /contenitore film popolari -->

    <!-- contenitore serieTv popolari-->
    <h2 class="tp big-text" v-if="films.length == 0">SERIE TV PIU' VISTE</h2>
    <hr class="tp-hr" v-if="films.length == 0">
    <div class="wrapper df" v-if="films.length == 0">
      <!-- card -->
      <div class="card df" v-for="serie in seriesPopular">
        <!-- poster -->
        <img v-if="serie.poster_path != null" class="poster" :src=" 'https://image.tmdb.org/t/p/w300' + serie.poster_path" :alt="serie.title">
        <img v-else class="poster" src="img/poster-null.jpg" alt="posterNull">
        <!-- poster -->
        <div class="overlay">
          <h3 class="titolo small-text fl"> <span class="fb normal-text">Titolo: </span> {{serie.name}}</h3>
          <h3 class="titolo_originale small-text fl"> <span class="fb normal-text">Titolo originale: </span> {{serie.original_name}}</h3>
          <!-- lingua -->
          <div class="lingua normal-text fb cw">
            Lingua:
            <img v-if="flagsPopular.includes(serie.original_language)" :src="'img/flags/' + serie.original_language + '.svg'" class="flag" alt="flag">
            <span v-else class="small-text fl">{{serie.original_language}}</span>
          </div>
          <!-- /lingua -->
          <!-- voto in stelle -->
          <div class="voto normal-text fb cw">
            Voto:
            <span>
              <i v-for="number in newVoto(serie.vote_average)" class="fas fa-star"></i>
              <i v-for="number in (5 - newVoto(serie.vote_average))" class="far fa-star"></i>
            </span>
          </div>
          <!-- /voto in stelle -->
          <p class="overview small-text fl"> <span class="fb normal-text">Overview: </span> {{serie.overview}}</p>
        </div>
      </div>
      <!-- /card -->
    </div>
    <!-- /contenitore serieTv popolari -->

    <!-- contenitore ricerca -->
    <h2 class="tp big-text" v-if="films.length != 0">FILM</h2>
    <hr class="tp-hr" v-if="films.length != 0">
    <div class="wrapper df">
      <!-- card film -->
      <div class="card df" v-for="film in films">
        <!-- poster -->
        <img v-if="film.poster_path != null" class="poster" :src=" 'https://image.tmdb.org/t/p/w300' + film.poster_path" :alt="film.title">
        <img v-else class="poster" src="img/poster-null.jpg" alt="posterNull">
        <!-- poster -->
        <div class="overlay">
          <h3 class="titolo small-text fl"> <span class="fb normal-text">Titolo: </span> {{film.title}}</h3>
          <h3 class="titolo_originale small-text fl"> <span class="fb normal-text">Titolo originale: </span> {{film.original_title}}</h3>
          <!-- lingua -->
          <div class="lingua normal-text fb cw">
            Lingua:
            <img v-if="flagsPopular.includes(film.original_language)" :src="'img/flags/' + film.original_language + '.svg'" class="flag" alt="flag">
            <span v-else class="small-text fl">{{film.original_language}}</span>
          </div>
          <!-- /lingua -->
          <!-- voto in stelle -->
          <div class="voto normal-text fb cw">
            Voto:
            <span>
              <i v-for="number in newVoto(film.vote_average)" class="fas fa-star"></i>
              <i v-for="number in (5 - newVoto(film.vote_average))" class="far fa-star"></i>
            </span>
          </div>
          <!-- /voto in stelle -->
          <p class="overview small-text fl"> <span class="fb normal-text">Overview: </span> {{film.overview}}</p>
        </div>
      </div>
      <!-- /card film -->
    </div>
    <h2 class="tp big-text" v-if="films.length != 0 && series.length != 0">SERIE TV</h2>
    <hr class="tp-hr" v-if="films.length != 0 && series.length != 0">
    <div class="wrapper df">
      <!-- card serieTv -->
      <div class="card df" v-for="serie in series">
        <!-- poster -->
        <img v-if="serie.poster_path != null" class="poster" :src=" 'https://image.tmdb.org/t/p/w300' + serie.poster_path" :alt="serie.title">
        <img v-else class="poster" src="img/poster-null.jpg" alt="posterNull">
        <!-- poster -->
        <div class="overlay">
          <h3 class="titolo small-text fl"> <span class="fb normal-text">Titolo: </span> {{serie.name}}</h3>
          <h3 class="titolo_originale small-text fl"> <span class="fb normal-text">Titolo originale: </span> {{serie.original_name}}</h3>
          <!-- lingua -->
          <div class="lingua normal-text fb cw">
            Lingua:
            <img v-if="flagsPopular.includes(serie.original_language)" :src="'img/flags/' + serie.original_language + '.svg'" class="flag" alt="flag">
            <span v-else class="small-text fl">{{serie.original_language}}</span>
          </div>
          <!-- /lingua -->
          <!-- voto in stelle -->
          <div class="voto normal-text fb cw">
            Voto:
            <span>
              <i v-for="number in newVoto(serie.vote_average)" class="fas fa-star"></i>
              <i v-for="number in (5 - newVoto(serie.vote_average))" class="far fa-star"></i>
            </span>
          </div>
          <!-- /voto in stelle -->
          <p class="overview small-text fl"> <span class="fb normal-text">Overview: </span> {{serie.overview}}</p>
        </div>
      </div>
      <!-- /card serieTv -->
    </div>
    <!-- /contenitore ricerca -->

  </main>
</div>


<!-- script -->
<script type="text/javascript" src="js/script.js"></script>
<!-- /script -->
</body>
</html>
